@import './index.css';

/* Styles globais */
body {
  background-color: #ffffff;
  color: #111827;
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
  body {
    background-color: #111827;
    color: #ffffff;
  }
}
